@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$color-white: #FFFFFF;
$color-black: #0F0F17;
$color-gradient-start: #F5BEF6;
$color-gradient-end: #FB8627;

$space-1: 10px;
$space-2: 20px;
$space-3: 30px;
$space-4: 40px;
$space-5: 50px;
$space-6: 60px;

body {
    font-family: 'Inter', sans-serif;
    background-color: $color-black;
    color: $color-white;
    min-height: 100vh;
}

.bg-gradient {
    background: linear-gradient(90deg, $color-gradient-start, $color-gradient-end);
}
