@use '@/shared/styles/global' as *;

.wrapper {
  display: flex;
  flex-direction: column;
}

.visuallyHidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.field {
  padding: 15px;
  border: 1px solid $color-black;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  background: #ffffff;
  font-family: inherit;

  &::placeholder {
    user-select: none;
  }

  &:focus {
    outline: none;

    &::placeholder {
      color: $color-black;
    }
  }

  &--error {
    border-color: #ef4444;
  }
}

textarea.field {
  resize: vertical;
  min-height: 100px;
  resize: none;
}

.errorMsg {
  font-size: 12px;
  color: #ef4444;
}
