@use '@/app/styles/global' as *;

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    min-height: 119px;
    border-bottom: 1px solid #ffffff30;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    grid-column: span 6;
    padding: 0 $space-4;

    @media (max-width: 320px) {
        padding: 0 $space-1;
    }

    .logo {
        width: 70px;
        height: 84px;
    }
}




