.skeleton {
  background-color: #2f2f47;
  background-image: linear-gradient(90deg, #1e1e2e 0px, #2f2f47 40px, #1e1e2e 80px);
  background-size: 200% 100%;
  animation: skeleton__shimmer 1.2s infinite;
  position: relative;
  overflow: hidden;
}

@keyframes skeleton__shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .skeleton {
    animation: none;
  }
}
