@use '@/shared/styles/global' as *;

.container {
  padding: space(6) 0;

  @include down(xs) {
    padding: space(4) 0;
  }

  .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: space(4);

    @include down(sm) {
      margin-bottom: space(3);
      margin-left: space(1);
      margin-right: space(1);
      font-size: 24px;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: space(2);

    @include down(lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include down(md) {
      grid-template-columns: repeat(1, 1fr);
    }

    .item {
      min-width: 240px;

      .item-image-wrapper {
        position: relative;
        width: 100%;
        padding-bottom: 68.18%;

        .item-image {
          @extend %transition-default;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .item-title {
        margin-top: space(2);
        font-weight: 600;
        font-size: 24px;
        line-height: 130%;
        text-transform: uppercase;
        @include line-clamp(2);

        @extend %transition-default;
        background: $gradient;
        background-size: 0% 100%;
        -webkit-background-clip: text;
        background-clip: text;

        @include down(sm) {
          margin-top: space(2);
          margin-left: space(1);
          margin-right: space(1);
          font-size: 20px;
        }
      }

      .item-description {
        margin-top: space(1);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        opacity: 0.5;
        @include line-clamp(3);

        @include down(sm) {
          margin-top: space(1);
          margin-left: space(1);
          margin-right: space(1);
        }
      }

      .item-date {
        display: block;
        margin-top: space(2);
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;

        @include down(sm) {
          margin-left: space(1);
        }
      }

      &:hover {
        .item-image {
          border-radius: 20px;
        }

        .item-title {
          background-size: 100% 100%;
          color: transparent;
        }
      }
    }
  }
}
