@use '@/shared/styles/global' as *;

.article {
  display: grid;
  grid-template-columns: minmax(300px, 440px) minmax(300px, 500px);
  grid-template-areas:
    'image header'
    'image body';
  column-gap: space(2);
  margin-top: space(8);

  @include down(lg) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'image header'
      'body body';
  }

  @include down(md) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'image'
      'header'
      'body';
  }

  @include down(sm) {
    margin-top: space(4);
  }
}

.image-wrapper {
  grid-area: image;
  position: relative;
  aspect-ratio: 3 / 2;
  width: 100%;

  @include down(sm) {
    max-width: 100%;
    min-width: 300px;
    width: 100%;
  }
}

.image {
  @extend %transition-default;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.header,
.body {
  @include down(sm) {
    max-width: 100%;
    padding: 0 space(1);
  }
}
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;

  @include down(md) {
    margin-top: space(2);
    font-size: 24px;
  }
}

.description {
  margin-top: space(4);
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  text-transform: uppercase;

  @include down(sm) {
    margin-top: space(3);
  }
}

.date {
  display: block;
  opacity: 0.5;
  margin-top: space(2);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  @include down(sm) {
    margin-top: space(1);
  }
}

.text {
  margin-top: space(2);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  @include down(sm) {
    margin-top: space(1);
  }
}
