@use '@/app/styles/global' as *;

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 $space-4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

    @media (max-width: 320px) {
        padding: 0 $space-1;
        grid-template-columns: repeat(1, 1fr);
    }
}